@import url('./reset.css'); 
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    --white: #FFFFFF;
    --white-02: #F6F6F6;
    --black: #000000;
    --gray: #7C7C7C;
    --orange: #DA5B00;

    --design-w: 1440;
    --design-h: 1024;
    --scale: min(100vw / var(--design-w), 100vh / var(--design-h));
  }
}